@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");

:root {
    --green: #04E762;
    --white: #E5E5E5;
    --dark: #1A1A1A;
    --grey: #242424;
    --magenta: #DB3069;
    --cyan: #00A1E4;
    --yellow: #F5D547;
}

html, body {
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Ubuntu Mono', monospace;
}

.container {
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
}

.container img {
    width: 100%;
}

blockquote {
    background-color: #242424;
    padding: 0.2rem 1rem;
    margin: 0;
}

pre {
    background-color: var(--grey) !important;
    padding: 0.5rem;
    overflow: hidden !important;
    font-family: 'Ubuntu Mono', monospace;
}

pre > code > span.line::before {
    content: counter(lines);
    color: var(--green);
    padding-right: 2ch;
}

code {
    color: var(--magenta);
    background-color: var(--grey);
}

p {
    line-height: 2.5ch;
}

/* Colores */

a {
    color: #E5E5E5;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--green);
}

.green {
    color: var(--green);
}

.magenta {
    color: var(--magenta);
}

.cyan {
    color: var(--cyan);
}

.white {
    color: var(--white);
}

.dark {
    color: var(--dark);
}

.yellow {
    color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.bg-magenta {
    background-color: var(--magenta);
}

.bg-cyan {
    background-color: var(--cyan);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-white {
    background-color: var(--white);
}

.bold {
    font-weight: bold;
}

.pad {
    padding: 0.2rem;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem;
}

header.center {
    justify-content: center;
}

header div p {
    margin: 0;
}

.marca {
    width: 13rem !important;
}

.navlink::before {
    content: "/ ";
}

/* Headers */

h1, h2, h3, h4 {
    color: var(--green);
    text-transform: uppercase;
}

h5 {
    color: var(--green);
    font-size: 1rem;
}

h5 span {
    font-style: italic;
    font-weight: lighter;
    color: var(--magenta);
}

/* Footer */
footer {
    margin-top: 3rem;
}

footer > .socials {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    font-size: 0.95rem;
}

footer a {
    margin: 0.5rem;
}

/* Listas */

ul {
    padding: 0.5rem;
    width: fit-content;
}

li {
    list-style-type: none;
}

li::before {
    content: "- ";
}

/* Emphasis */

em {
    font-style: unset;
    color: var(--green);
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons.row {
    flex-direction: row;
    justify-content: space-between;
}

.buttons.row a {
    width: 45%;
}

.buttons a {
    padding: 1rem 0 1rem 0;
    border: solid #E5E5E5 1px;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
}

.buttons a:hover {
    border: solid #04E762 1px;
}

.buttons a.special {
    background-color: #04E762;
    color: #1A1A1A;
}

/* Video */

.video {
    width: 100%;
    padding-top: 41.875%;
    position: relative;
}

.video > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Projects */

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img {
    max-width: 11rem;
    border: solid var(--magenta) 2px;
    transition: ease-in-out 0.5s;
}

.project img:hover {
    border: solid var(--green) 2px;
}

.project h4 {
    margin: 0.5rem 0 1rem;
}

/* media queries */

@media (max-width: 600px) {
    .socials > a > span {
        display: none;
    }

    .project img {
        max-width: 20rem;
        margin: auto;
    }
}