---
import { useTranslations } from '../i18n/utils';

const logo = { src: '/img/espinosajuanma-logo-small.svg' };
const t = useTranslations('es');
---
<header class="center">
    <div style="text-align: center;">
        <a href="/"><img src={logo.src} class="marca" alt="Espinosa Juan Manuel"></a>
        <p><span class="pad dark bg-green">{t('header.editor')}</span> <span class="green">/</span> {t('header.developer')}</p>
    </div>
</header>