{{ define "main" }}
{{ .Content }}

{{ with .GetPage "films" }}
    <h2>{{ .Title }}</h2>
    {{ $pages := where .Pages "Params.Soon" false }}
    <div class="project-list">
    {{- range $pages.ByDate.Reverse }}
        {{ partial "films/poster.html" . -}}
    {{ end }}
    </div>
{{ end }}

<h3>{{ T "films.upcoming" }}</h3>
{{ with .GetPage "films" }}
    {{ $pages := where .Pages "Params.Soon" true }}
    <div class="project-list">
    {{- range $pages.ByDate.Reverse }}
        {{ partial "films/poster.html" . -}}
    {{ end }}
    </div>
{{ end }}


{{ end }}  
